html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Inicio estilos del HEADER */
.header {
    background: black;
    padding: 5px 5px;
    text-align: center;
    position: sticky;
    top: 0;
    min-width: 500px;
    z-index: 100;
}

.header-return {
    position: absolute;
    background-color: #555555;
    height: 30px;
    width: 30px;
    top: 10px;
    border-radius: 5px;
    z-index: 200;
}

.return-img-header {
    position: relative;
    height: 30px;
    width: 30px;
}

.header-return:hover {
    background-color: antiquewhite;
}

h1 {
    color: antiquewhite;
    margin-top: 0;
    margin-bottom: 0;
}
/* Fin estilos del HEADER */

main {
    margin: 2rem;
}

h2 {
    text-align: center;
}

code {
    background-color: black;
    border-radius: 3px;
    color: antiquewhite;
}

p {
    border: thin solid black;
    padding: 1rem;
}

/* 
PROPIEDADES DE FUENTE
*/
.p-style {
    font-style: italic;
}

.p-variant {
    font-variant: small-caps;
}

.p-weight {
    font-weight: 900;
}

.p-size {
    font-size: 2rem;
}

.p-line-height {
    line-height: 2;
}

.p-family {
    font-family: monospace;
}

.p-font {
    font: italic small-caps 900 1rem / 2 monospace;
}

/*
External Fonts
*/
/* font-display: Esta propiedad indica de que forma se deben comportar los textos de fuentes externas mientras
        la tipografia es cargada en el navegador.
        auto : El navegador utiliza el método predeterminado, el cual en la mayoría de los casos es block.
        block : El navegador oculta los textos hasta que la fuente es cargada por completo.
        swap : El navegador utiliza una fuente alternativa mientras la fuente externa es cargada.
        fallback : Mezcla de auto y swap. El navegador bloquea por un momento los textos, luego pone la fuente alternativa,
            y finalmente la fuente externa cuando esta última esta completamente cargada.
        optional : Es similar a fallback, solo que optional demora más en cada fase del proceso hasta cargar la fuent externa. */
@font-face {
    font-family: "pecita";
    src: url(../assets/fonts/pecita.woff) format("woff");
    /* src: url(../assets/fonts/pecita.woff) format("woff"),
       src: url(../assets/fonts/pecita.woff) format("woff"); */
    font-display: swap;
}
.pecita {
    font-family: "pecita", sans-serif;
    
}

@font-face {
    font-family: "arcade-future";
    src: url(../assets/fonts/arcade-future.woff) format("woff");
    font-display: swap;
}

.arcade-future {
    font-family: "arcade-future", monospace;
}

.changa {
    font-family: 'Changa', sans-serif;
}

/*
PROPIEDADES DE TEXTO

text-align
text-decoration
text-indent
text-overflow
    overflow: hidden;
    white-space: nowrap;
text-transform

letter-spacing

white-space

word-break
word-spacing
writing-mode
*/
.text-align {
    text-align: right;
}

.text-decoration {
    text-decoration: line-through;
}

.text-indent {
    text-indent: 1rem;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-transform {
    text-transform: capitalize;
}

.letter-spacing {
    letter-spacing: .5rem;
}

.white-space {
    white-space: pre-wrap;
}

.word-break {
    word-break: break-all;
}

.word-spacing {
    word-spacing: 1rem;
}

.writing-mode {
    writing-mode: vertical-lr;
}