/* Inicio estilos del HEADER */
.header {
    background: black;
    padding: 5px 5px;
    text-align: center;
    position: sticky;
    top: 0;
    min-width: 500px;
    z-index: 100;
}

.header-return {
    position: absolute;
    background-color: #555555;
    height: 30px;
    width: 30px;
    top: 10px;
    border-radius: 5px;
    z-index: 200;
}

.return-img-header {
    position: relative;
    height: 30px;
    width: 30px;
}

.header-return:hover {
    background-color: antiquewhite;
}

h1 {
    color: antiquewhite;
    margin-top: 0;
    margin-bottom: 0;
}
/* Fin estilos del HEADER */